@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: #0e182a;
  --background-end-rgb: #0e182a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #0e182a;
    --background-end-rgb: #0e182a;
  }
}

@layer base {
  body {
    @apply dark:bg-gray-900 bg-white;
  }
}

html {
  scroll-behavior: smooth;
}

/* scrollbar styles */

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #86efac, #3b82f6, #9333ea);
  border-radius: 20px;
  width: 10px;
}

.image {
  object-fit: fill;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
